################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/Project1/obj/Debug/net6.0/Project1.AssemblyInfoInputs.cache
/Project1/obj/Debug/net6.0/Project1.AssemblyInfo.cs
