@*
   메인
*@
@{
    ViewBag.Title = "메인";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@{
    <html>
    <head>
        <title>메인</title>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
        <link rel="stylesheet" type="text/css" href="~/css/Common.css" />
        <style>
            .center-container {
                height: 100%;
            }

            .menubar {
                border: 1px solid #DDD;
                padding: 10rem 7rem;
            }

            a:link {
                color: #DDD;
            }

            a:visited {
                color: #DDD;
            }

            a:hover {
                color: #FFF;
            }

            a:active {
                color: #FFF;
            }
        </style>
        <script>
        </script>
    </head>
    <body>
        <div class="container d-flex flex-column justify-content-center align-items-center center-container">
            <div class="menubar">
                <h1 class="mb-4" style="color: #555;">Your Marker</h1>
                <div class="d-flex flex-column gap-3 text-center w-100" >
                    <a href="#">Knitting</a>
                    <a href="/Blog/Home/Main">Blog</a>
                    <a href="/Community/Home/Main">Community</a>
                </div>
            </div>
        </div>
    </body>
    </html>
}
