@*
   메인
*@
@{
    ViewBag.Title = "글쓰기 - 블로그";
    Layout = "~/Pages/Shared/_Layout.cshtml";
    String u_id = ViewData["u_id"] as String ?? String.Empty;
}
@{
    <html>
    <head>
        <title>글쓰기 - 블로그</title>
        <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://kit.fontawesome.com/30451a74a8.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- 커스텀알럿 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <!-- summernote -->
        <script src="~/lib/summernote/summernote-bs5.js"></script>
        <link href="~/lib/summernote/summernote-bs5.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="~/css/Common.css" />
        <style>
            .center-container {
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .contentMain {
                border: 1px solid #DDD;
                padding: 10rem 7rem;
            }

            .board-list {
                list-style: none;
                padding: 0;
                margin: 0;
                width: 100%;
            }

            .board-list li {
                display: flex;
                border-bottom: 1px solid #ccc;
                padding: 10px 0;
            }

            .board-list li.header {
                font-weight: bold;
                background-color: #f0f0f0;
            }

            .board-list li div {
                flex: 1;
                padding: 0 10px;
            }

        </style>
        <script>
            'use strict';

            let u_id = '@u_id';

            window.onload = function() {
                eventbind();
            }

            function eventbind() {
                $('#B_content').summernote({
                    height: 300,                 // set editor height
                    minHeight: null,             // set minimum height of editor
                    maxHeight: null,             // set maximum height of editor
                    focus: true                  // set focus to editable area after initializing summernote
                });
                document.getElementById("writeBtn").onclick = function() {
                    writeBoard();
                }
                document.getElementById("cancelBtn").onclick = function () {
                    location.href = "/Blog/Home/Main";
                }
            }

            function writeBoard() {
                let B_title = document.getElementById("B_title").value.trim();
                if(B_title == "") {
                    alert("제목을 입력하세요.");
                    return false;
                }
                let B_content = document.getElementById("B_content").value.trim();
                if (B_content == "") {
                    alert("내용을 입력하세요.");
                    return false;
                }

                $.ajax({
                    url: "/Blog/Data/SetBoardContent",
                    type: "POST",
                    data: {
                        CatCls: "02",
                        B_title: B_title,
                        B_content: B_content,
                        u_id: u_id
                    },
                    beforeSend: function () {
                        $("#loading").addClass("overlaySpinner");
                    },
                    success: function (response) {
                        $("#loading").removeClass("overlaySpinner");
                        if (response.data == 0 || response.message != "OK") {
                            Swal.fire({
                                icon: 'error',
                                text: "등록에 실패했습니다. 잠시 후 다시 시도해주세요."
                            });
                        }
                        else {
                            Swal.fire({
                                icon: 'success',
                                text: "게시글을 등록했습니다.",
                                showCancelButton: false,
                                confirmButtonColor: "#3085d6",
                                confirmButtonText: "확인"
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = "/Blog/Home/Main";
                                }
                            });
                        }
                    },
                    error: function (request, status, error) {
                        console.log(request.responseText, status, error);
                    }
                });
            }

        </script>
    </head>
    <body>
        <!-- 네비게이션 바 -->
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="/Main/Index">Your Marker</a>
                <div class="collapse navbar-collapse justify-content-end">
                    <ul class="navbar-nav loginMenu mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/Main/LoginView">로그인</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Main/JoinView">회원가입</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav logoutMenu mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link btn" onclick="memberLogout()">로그아웃</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container flex-column center-container">
            <div id="loading"></div>
            <div class="contentMain">
                <div class="row justify-content-end">
                    <div class="col-auto">
                        <h4>글 쓰 기</h4>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center mt-2 mb-2">
                    <div class="col">
                        <table class="table table-borderless">
                            <tr>
                                <td style="width:20%;"><input type="text" value="Blog" class="form-control" disabled /></td>
                                <td style="width:80%;">
                                    <input type="text" name="B_title" id="B_title" class="form-control" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <textarea name="B_content" id="B_content" value=""></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <hr />
                <div class="row justify-content-center align-items-center">
                    <div class="col-auto">
                        <button type="button" id="writeBtn" class="btn funcBtn_A">등록하기</button>
                        <button type="button" id="cancelBtn" class="btn funcBtn_A">취소</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
    </html>
}
